.header{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    font-size: 20px;
}
.header button[type="button"] {
    height: 3rem;
    border: none;
    border-radius: 50px;
    background-color: #438ad5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px;
}

.header button[type="button"]:hover {
    background-color: #0056b3;
}
