.userpage{
    max-width: 1000px;
    margin:auto;
    padding: 20px;
    background-color: #77c9ee;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 8rem;
}
.card{
    display: flex;
    margin-bottom: 10px;
  }
  .slider {
    position: relative;
    width: 400px;
    height: 300px;
    margin-right: 10px;
  }
  
  .sliderImage {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prevButton {
    left: 10px; /* Add a little padding from the edge */
  }
  
  .nextButton {
    right: 10px; /* Add a little padding from the edge */
  }
  .bookbutton,
  .addButton,
  .closeButton{
    background-color: rgb(20, 170, 245);
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
  }
  .overlay{
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    z-index: 5;
}
.booknow{
    background-color: white; /* White background for the cart */
    padding: 10px;
    height: 300px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for better visibility */
    max-width: 600px; /* Limit the width */
    width: 90%; /* Full width for smaller screens */
    position: relative;
    overflow: scroll;
}
.booknow form label{
    display: block;
    margin-bottom: 10px;
}
.closeButton{
    float: inline-end;
}


  