.inputForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
}

.inputForm h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.inputForm form {
    display: flex;
    flex-direction: column;
}

.inputForm label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

.inputForm input[type="text"],
.inputForm input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.inputForm input[type="file"] {
    margin-top: 5px;
}

.inputForm select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    width: 20rem;
}

.inputForm button[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inputForm button[type="submit"]:hover {
    background-color: #0056b3;
}
